* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
dfn,
em,
img,
strike,
strong,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  --primary-text-color: #ffffff;
  --secondary-text-color: #b8b8b8;
  --durability-text-color: #b8b8b8;
  --icon-color: #6a737d;
  --border-color: #ff8400;
  --text-decoration-color: #ff8400;
  background-color: #1c1c1c;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 900px;
}

.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume {
  margin: 50px auto;
  border: 1px solid #494949;
  box-shadow: 1px 1px 7px 7px #3b3b3b;
  padding: 30px 0;
  max-width: 900px;
}

.resume__block {
  border-bottom: 3px solid var(--border-color);
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.contact_info_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.name__block {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.text-separator {
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: var(--secondary-text-color);
  margin: 0 10px;
}

.contact-info__header,
.contact-info__sub-header {
  text-align: center;
}

.contact-info__header {
  font-weight: 700;
  margin-right: 10px;
  font-size: 40px;
  color: var(--primary-text-color);
}

.contact-info__sub-header {
  font-weight: 600;
  font-size: 26px;
  color: var(--text-decoration-color);
}

.contact-info__block {
  display: flex;
  flex-direction: column;
}

.contact-info__block--center {
  justify-content: center;
}

.contact-info__item {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.contact-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
  margin-right: 10px;
  width: 20px;
  display: flex;
  justify-content: center;
}

.contact-info__item-icon path {
  fill: var(--icon-color);
  transition: fill 0.5s ease;
}

.contact-info__item:hover path {
  fill: var(--text-decoration-color);
}

.contact-info__item-icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.contact-info__avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--text-decoration-color);
}

.intro {
  display: flex;
  justify-content: start;
}

.intro__icon-wrapper {
  margin-right: 30px;
  margin-bottom: 10px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.intro__icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.intro__icon path {
  fill: var(--text-decoration-color);
}

.intro_text {
  color: var(--secondary-text-color);
  text-align: justify;
}

.section__header {
  font-size: 26px;
  font-weight: 600;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 15px;
}

.skills__text {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-decoration-color);
  margin-bottom: 10px;
}

.skills__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  list-style: none;
}

.skills-list___item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.skills__item-icon-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.skills__item-icon path {
  fill: var(--icon-color);
  transition: fill 0.5s ease;
}

.skills-list___item:hover path {
  fill: var(--text-decoration-color);
}

.skills__item-icon {
  width: 100%;
  height: 100%;
}

.soft-skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.soft-skills__item {
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  height: auto;
  border: 1px solid var(--text-decoration-color);
  font-weight: 600;
  color: var(--secondary-text-color);
  transition: background-color 0.5s ease;
}

.soft-skills__item:hover {
  background-color: var(--text-decoration-color);
  color: white;
}

.language-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}

.language-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.language-title {
  font-weight: 700;
  color: var(--secondary-text-color);
}

.language-fluency {
  font-size: 12px;
  color: var(--text-decoration-color);
}

.project-list {
  list-style: none;
}

.project-list___item {
  margin-bottom: 20px;
  list-style: none;
}

.project-link {
  font-weight: 700;
  font-size: 20px;
  color: var(--primary-text-color);
  margin-bottom: 5px;
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-color);
  transition: color 0.5s ease;
}

.project-link:hover,
.project-link:focus {
  color: var(--text-decoration-color);
}

.project-link___wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project__repo-icon-wrapper {
  width: 24px;
  height: 24px;
}

.project-icon path {
  fill: var(--icon-color);
  transition: fill 0.5s ease;
}

.project-repo___link:hover .project-icon path,
.project-repo___link:focus .project-icon path {
  fill: var(--text-decoration-color);
}

.work-list {
  margin-bottom: 45px;
  padding: 0;
  margin-left: 15px;
}

.work-list___item {
  list-style: none;
  margin-bottom: 20px;
}

.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-text-color);
  margin-bottom: 5px;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-decoration-color);
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--durability-text-color);
  padding: 0;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--primary-text-color);
}

.education-list {
  list-style: none;
}
.education-item {
  list-style: none;
  margin-bottom: 20px;
}

.institution {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-text-color);
  margin-bottom: 5px;
}

.major {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: var(--text-decoration-color);
}

@media screen and (max-width: 576px) {
  .resume {
    margin: 0;
  }

  .name__block {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: flex-start;
  }

  .text-separator {
    display: none;
  }

  .contact_info_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contact-info__block {
    align-items: flex-start;
  }

  .contact-info__block:not(:last-child) {
    margin-bottom: 20px;
  }
}
